[Desktop Entry]
Name=Bladerunner

X-KDE-PluginInfo-Name=Bladerunner
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
