[Desktop Entry]
Name=Sydney

X-KDE-PluginInfo-Name=Sydney
X-KDE-PluginInfo-Author=Tyler Duston
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
