[Desktop Entry]
Name=Canada

X-KDE-PluginInfo-Name=Canada
X-KDE-PluginInfo-Author=Andy Holmes
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
