[Desktop Entry]
Name=Fish

X-KDE-PluginInfo-Name=Fish
X-KDE-PluginInfo-Author=Chase Baker
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
