[Desktop Entry]
Name=Conifer

X-KDE-PluginInfo-Name=Conifer
X-KDE-PluginInfo-Author=Vanessa Friedl
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
