[Desktop Entry]
Name=Germany

X-KDE-PluginInfo-Name=Germany
X-KDE-PluginInfo-Author=Kai Pilger
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
