[Desktop Entry]
Name=Abstract

X-KDE-PluginInfo-Name=Abstract
X-KDE-PluginInfo-Author=Isaac Quesada
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
