[Desktop Entry]
Name=Namibia

X-KDE-PluginInfo-Name=Namibia
X-KDE-PluginInfo-Author=Chris Stenger
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
