[Desktop Entry]
Name=Indonesia

X-KDE-PluginInfo-Name=Indonesia
X-KDE-PluginInfo-Author=Aaron Thomas
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
