[Desktop Entry]
Name=Forest

X-KDE-PluginInfo-Name=Forest
X-KDE-PluginInfo-Author=Dan Smedley
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
