[Desktop Entry]
Name=Beijing

X-KDE-PluginInfo-Name=Beijing
X-KDE-PluginInfo-Author=Zhang Kaiyv
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
