[Desktop Entry]
Name=Rain Drops

X-KDE-PluginInfo-Name=Rain Drops
X-KDE-PluginInfo-Author=Nadiya Ploschenko
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
