[Desktop Entry]
Name=Blue Moon

X-KDE-PluginInfo-Name=Blue Moon
X-KDE-PluginInfo-Author=Omar Ram
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
