[Desktop Entry]
Name=Maldives

X-KDE-PluginInfo-Name=Maldives
X-KDE-PluginInfo-Author=Zidhan Ibrahim
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
