[Desktop Entry]
Name=Daffodil

X-KDE-PluginInfo-Name=Daffodil
X-KDE-PluginInfo-Author=Vanessa Friedl
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
