[Desktop Entry]
Name=Relax

X-KDE-PluginInfo-Name=Relax
X-KDE-PluginInfo-Author=Alexandre Chambon
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
