[Desktop Entry]
Name=Piano

X-KDE-PluginInfo-Name=Piano
X-KDE-PluginInfo-Author=Daniel Lazar
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
