[Desktop Entry]
Name=Red

X-KDE-PluginInfo-Name=Red
X-KDE-PluginInfo-Author=Malachi Brooks
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
