[Desktop Entry]
Name=Light

X-KDE-PluginInfo-Name=Light
X-KDE-PluginInfo-Author=Danny Kidd
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
