[Desktop Entry]
Name=Java

X-KDE-PluginInfo-Name=Java
X-KDE-PluginInfo-Author=Robin Noguier
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
