[Desktop Entry]
Name=Finland

X-KDE-PluginInfo-Name=Finland
X-KDE-PluginInfo-Author=Maria Vojtovicova
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
