[Desktop Entry]
Name=Georgia

X-KDE-PluginInfo-Name=Georgia
X-KDE-PluginInfo-Author=Marita Kavelashvili
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
